In [2]:
print('helloworld')

helloworld

In [1]:
a=10
b=20
c=a+b
print(c)

30

In [19]:
a=50
print(a)
e=[10,20,30]
c=3,4,5
s={1:'hii',2:'good'}
print(c)
print(s)
type(e)

50
(3, 4, 5)
{1: 'hii', 2: 'good'}

list

In [4]:
# intiallize multivaribles
a,c,d=150,120,250
print(a)
print(c)
print(d)
print(a,c,d)

150
120
250
150 120 250

In [5]:
x=10.34
print(type(x))

<class 'float'>

In [6]:
# print adress of the value
k=[10,True,67,40]
print(id(k))

1624195422080

In [9]:
#was to print the details of you,frist store details and extract them
#     when we wnat to display the real time data dictionary datatype is used
s={'name':'Sravani','DOB':29_12_2000,'Gender':'Female','email':'pawar@gmail.com','pancard':True}
print(s['name'])
print(s['pancard'])
print(s)
print(s['DOB'])

Sravani
True
{'name': 'Sravani', 'DOB': 29122000, 'Gender': 'Female', 'email': 'pawar@gmail.com', 'pancard': True}
29122000

In [16]:
a=10,20,30
print(a)

(10, 20, 30)

In [17]:
#was to swap the values using temp variable
r='x'
b=20
d=r
r=b
b=d
print(r)
print(b)
print(d)
# by using temp variable 'r' var become empty so we can assign other value to it

20
x
x

In [18]:
# swap without temp var
m=10
n=20
m,n=n,m
print(m)
print(n)

20
10

In [25]:
u='pyspiders branch'
print(u)
u={1,2,10}
print(u)
u|={10,'r'}
print(u)
del u
print(u)

pyspiders branch
{1, 2, 10}
{'r', 1, 2, 10}

NameError: name 'u' is not defined

In [3]:
#convert single to multivalue datatype i/p a=10 and o/p=['1','0']
a=10
a=list(str(a)) 
print(a)

['1', '0']

In [4]:
#cocat two multivalue datatypes
x="hello"
x+="hii"
print(x)
y=[10,20,30]
y+=[40,50]
print(y)
z=(2,4,6,7)
z+=(3,9)
print(z)
s={30,50,60}
s|={8,'kjhgf'}
print(s)
p={10:"good",20:"bad"}
p|={'a':"new"}
print(p)

hellohii
[10, 20, 30, 40, 50]
(2, 4, 6, 7, 3, 9)
{50, 8, 'kjhgf', 60, 30}
{10: 'good', 20: 'bad', 'a': 'new'}

In [5]:
# length of the collection
f=[10,20,456,6.444,None,3+8j]
len(f)

6

In [7]:
# find the middle value if the collection
d=[10,20,40,50,60]
print(d[len(d)//2])
l=[10,20,30,40]
print(l[len(l)//2])

40
30

In [10]:
# concat new str to starting of other str
x='python '
d='code'
x=d+x
print(x)

codepython

In [9]:
# concat new str to ending of other str
x='python'
d='code'
x=x+d
print(x)

pythoncode

In [14]:
# concat new str to middle of the str
s="dragns"
s=s[0:4]+'o'+s[4:]
print(s)

dragons

In [16]:
# modify the new charcter into the middle of str
s='pyspiders'
s[len(s)//2]
s[0:(len(s)//2)]+'r'+s[len(s)//2+1:]

'pysprders'

In [18]:
#modify the sequence of character in str
s='hello'
s[0:2]+'LL'+s[4:]

'heLLo'

In [19]:
#replace old char to new char in a str
x='summer'
x[0:2]+'d'+x[3:]

'sudmer'

In [20]:
# delete specific char in a str
x='sun day'
x[0:3]+x[4:]

'sunday'

In [22]:
# concat new str into the specific position of the str
x="haii are you"
x[0:4]+"how"+x[4:]
x[0:4+1]+"how"+x[4:]

'haii how are you'

In [23]:
# del sequence of char in str
x="hii hello ram"
x[0:4]+x[10:]

'hii ram'

In [25]:
# concat new value into the starting of list
l=[1,2,3]
l=[5,6]+l
print(l)
x=[112,456,367]
x[0:0]=[567,789]
print(x)

[5, 6, 1, 2, 3]
[567, 789, 112, 456, 367]

In [26]:
# concat the newvalue into ending of the list
l=[10,30,50]
l=l+[4,5,6]
print(l)
y=['rama','seetha']
y+=['krishna']
print(y)
z=["qwer","fgbv"]
z[2:2]=["qwdhf"]
print(z)

[10, 30, 50, 4, 5, 6]
['rama', 'seetha', 'krishna']
['qwer', 'fgbv', 'qwdhf']

In [27]:
# concat the new value in middle of list
l=[10,150.34,True,"baby"]
l[len(l)//2:len(l)//2]=['100',5+9j]
print(l)

[10, 150.34, '100', (5+9j), True, 'baby']

In [30]:
# concat new value into specific poistion of list
l=[1,2,20000,4,7000]
l[2:2]=[200,567]
print(l)

[1, 2, 200, 567, 20000, 4, 7000]

In [2]:
# modify the new value into specific position of list
r=[True,24.5,10+3j,6]
r[-2]="flower"
print(r)

[True, 24.5, 'flower', 6]

In [2]:
# modify the newvalue in starting of the given list
l=[10,30,40]
l[0]=5
print(l)

[5, 30, 40]

In [3]:
# modify the newvalue in ending of the given list
l=[{'abc':150},150.21,True,"haii"]
l[-1]=40
print(l)

[{'abc': 150}, 150.21, True, 40]

In [4]:
#modify the newvalue in middle of the given list
l=[10,20,30,40]
l[len(l)//2]=60
print(l)

[10, 20, 60, 40]

In [5]:
#modify the first 4 values in  given list
h=[1,2,3,4,5,6,7,8,9]
h[0:3+1]=['a','b','c','d']
print(h)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

In [6]:
#modify the sequence of values the given list
d=[1,2,3,4,56,7]
d[0:3+1]=[0.0,20,6,9]
print(d)

[0.0, 20, 6, 9, 56, 7]

In [8]:
# delete the specific position in given list
n=[True,False,b'100010',(3,4)]
del n[3]
print(n)

[True, False, b'100010']

In [9]:
#i/p is[1,3,2,5,4,7,8,6,9,15] and o/p is[1,3,4,5,16,7,64,6,81,15]
d=[1,3,2,5,4,7,8,6,9,15]
d[0::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [10]:
# delete the ending of the list
s=[1,2,3,15,67]
del s[-1]
print(s)

[1, 2, 3, 15]

In [11]:
#delete the middle of the list
s=[1,3,5,4,6,7,8]
del s[len(s)//2]
print(s)

[1, 3, 5, 6, 7, 8]

In [12]:
# delete starting of the list
s=[1,3,5,6,4,8]
del s[0]
print(s)

[3, 5, 6, 4, 8]

In [13]:
# concat newvalue into ending of tuple
b=(10,20,50,60,70)
b=b+(30,)
print(b)

(10, 20, 50, 60, 70, 30)

In [15]:
# concat new value into starting of the tuple
c=(9,4,6)
c=(5,8)+c
print(c)

(5, 8, 9, 4, 6)

In [18]:
# concat newvalue into middle of the tuple
s=10,20,40,50,90
s=s[0:len(s)//2]+(60,)+s[len(s)//2+1:]
print(s)

(10, 20, 60, 50, 90)

In [19]:
#was to modify the sequence of values in the given tuple
s=(10,20,30,40,5.333)
s=s[0:2+1]+(9,3)+s[4:]
print(s)

(10, 20, 30, 9, 3, 5.333)

In [20]:
# was to delete the sequence of values in the tuple
y=('hello','bye',10,0.05,True)
y=y[0:1]+y[2:]
print(y)

('hello', 10, 0.05, True)

In [21]:
# WAS to concat newvalue into the set
s={1,3,5}
s|={10,40}
print(s)

{1, 3, 5, 40, 10}

In [22]:
 #WAS to del the specific value into the set
s={1,3,4,6,8,7,9,2}
s=s-{4,6,8}
print(s)

{1, 2, 3, 7, 9}

In [23]:
# wAS to delete specific key and value in the dict
G={'a':10,'b':20,'hii':'bye'}
del G['a']
print(G)

{'b': 20, 'hii': 'bye'}

In [24]:
#WAS to concat newkey and value in the dict
s={'hii':'bye','good':'bad','life':'death'}
s['a']=30
print(s)

{'hii': 'bye', 'good': 'bad', 'life': 'death', 'a': 30}

In [25]:
#WAS to modify the specific value in the dict
n={'hii':'bye','good':'bad','life':'death'}
n['hii']='hello'
print(n)

{'hii': 'hello', 'good': 'bad', 'life': 'death'}

In [28]:
# WAS to concat list and tuple values using type casting
l=['a','b','c']
t=(9,4,6)
print(l+list(t))
print(t+tuple(l))

['a', 'b', 'c', 9, 4, 6]
(9, 4, 6, 'a', 'b', 'c')

In [32]:
# WAS to concat list and tuple values  without using type casting
l=['a','b','c']
t=(9,4,6)
l+=t
print(l)

['a', 'b', 'c', 9, 4, 6]

In [33]:
#WAS to check the given number is divisible by 3
n=15
print(n%3==0)
c=40
print(c%3==0)

True
False

In [34]:
#WAS to check the given number is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)
n=21
print(n%2==0 and n%6==0)

True
False

In [35]:
#WAS to check the last digit is divisible by 3 without typecasting
n=1999
print((n%10)%3==0)

True

In [44]:
#WAS to check the last digit is divisible by 3 with typecasting
n=2026
str(n)
str[n][-1]

TypeError: type 'str' is not subscriptable

In [45]:
# check the number is greater than 150
s=179
print(s>150)

True

In [46]:
# check the given number greater than or equal to 100
s=99
print(s>=100)

False

In [47]:
# check given number less than 150
s=49
print(s<150)

True

In [48]:
#check the given number less than or equal to 100
s=100
print(s<=100)

True

In [49]:
#check given number is greater than 15 and less than 24
s=22
print(s>15 and s<24)

True

In [50]:
# check given number is even
n=40
print(n%2==0)

True

In [51]:
#check given number is odd
n=41
print(n%2!=0)

True

In [52]:
# perfotm replication of a given sting with 6
s="hello"
print(s*6)

hellohellohellohellohellohello

In [53]:
# WAE to check given number is divisible by 3 and greater than 22
s=33
print(s%3==0 and s>22)

True

In [55]:
# check length of the collection even or not
l="pyspiders"
print(len(l)%2==0)

False

In [56]:
# check length of collection lessthan 55 and greater than 16
r="wsdfcvbnmlkiuytdszxlkjhgfvbnm,lpiouytreasdxcvbnjm,"
print(len(r)<55 and len(r)>16)

True

In [59]:
# wAE to check length of collection divisible hy 5 and odd
e='abscdertyuiopljfmnaetuo '
print(len(e))
print(len(e)%5==0 and len(e)%2!=0)

24
False