In [1]:
# function without arguments and without return statement
def Upper():
    st="hello Haii 123 @#%"
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    print(res)
Upper()

HELLO HAII 123 @#%

In [3]:
# function with arg and without return statment
def Upper(st):
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    print(res)
Upper('Hello haii 123 $%#')
Upper('i love you')

HELLO HAII 123 $%#
I LOVE YOU

In [8]:
# function without argument with return statement
def Upper():
    st='i love india 34'
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
t=Upper()
t+=' hoo'
print(t)

I LOVE INDIA 34 hoo

In [10]:
# function with argument with return statement
x="hello world huYS"
def Upper(st):
    st='i love india 34'
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
Upper(x)

'I LOVE INDIA 34'

In [26]:
#1. Capatilze
st="hello 1234"
st.capitalize()

'Hello 1234'

In [30]:
st="hello world 123%67"
def u_captial(coll):
    res=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
    else:
        res+=coll[0]
    for i in range(1,len(coll)):
        res+=coll[i]
    return res
u_captial(st)

'Hello world 123%67'

In [31]:
# 2. casefold: no upper case char in coll
st="Hello world 1"
st.casefold()

'hello world 1'

In [32]:
s='Hello world 1'
def cs(coll):
    res=""
    for i in coll:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
cs(s)

'hello world 1'

In [34]:
# 3 upper
st="hello world456@34"
st.upper()

'HELLO WORLD456@34'

In [35]:
st="hello world456@34"
def uppercase(coll):
    res=""
    for i in coll:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
uppercase(st)

'HELLO WORLD456@34'

In [36]:
# 4. lower
st="HELLO gu#$456"
st.lower()

'hello gu#$456'

In [37]:
st="HELLO gu#$456"
def lowercase(coll):
    res=""
    for i in coll:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
lowercase(st)

'hello gu#$456'

In [38]:
#5 swapcase
st="werfgWERTFG34^&8"
st.swapcase()

'WERFGwertfg34^&8'

In [39]:
st="werfgWERTFG34^&8"
def swap(coll):
    res=""
    for i in coll:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        elif 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
swap(st)

'WERFGwertfg34^&8'

In [5]:
#6 title
st="wedfv 23dfvgh c4rfcxcvg34fdsx$^f #l"
st.title()

'Wedfv 23Dfvgh C4Rfcxcvg34Fdsx$^F #L'

In [2]:
st="#wed1fv 23dfvgh c4rfcxcvg34fdsx$^fs2s $"
def titlecase(coll):
    i=0
    x=len(coll)
    res=""
    d=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        i=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        i=1
    #if ('a'<=coll[-2]<='z' or 'A'<=coll[-2]<='Z'):
    if not('a'<=coll[-1]<='z' or 'A'<=coll[-1]<='Z'):
        d+=coll[-1]
        x=len(coll)-1
    while i<x:
        if not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            res+=coll[i]
            if 'a'<=coll[i+1]<='z':
                res+=chr(ord(coll[i+1])-32)
            else:
                res+=coll[i+1]
            i+=1
        elif 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
        i+=1
    res+=d
    return res
titlecase(st)

'#Wed1Fv 23Dfvgh C4Rfcxcvg34fdsx$^fs2S $$'

In [4]:
st="#wed1fv 23dfvgh c4rfcxcvg34fdsx$^fs2s $j"
def titlecase(coll):
    i=0
    x=len(coll)
    res=""
    d=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        i=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        i=1
    
    while i <x:
        if (i==len(coll)-1 and not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z')):
            d+=coll[i]
        elif not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            res+=coll[i]
            if 'a'<=coll[i+1]<='z':
                res+=chr(ord(coll[i+1])-32)
            else:
                res+=coll[i+1]
            i+=1
        elif 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
        i+=1
    res+=d
    return res
titlecase(st)

'#Wed1Fv 23Dfvgh C4Rfcxcvg34fdsx$^fs2S $j'

In [51]:
#7 center
a="abd"
a.center(10,'-')

'---abd----'

In [10]:
a="hello"
def cp(coll,width,fillchar=" "):
    d=""
    if len(fillchar)>1:
        return -1
    res=width-len(coll)
    l=res//2
    r=res-l
    res=l*fillchar+coll+r*fillchar
    return res 
cp(a,20,'-')

'-------hello--------'

In [14]:
# 8 istitle
s='#Wed1Fv 23Dfvgh C4Rfcxcvg34Edsx$^Fs2S'
s.istitle()

True

In [43]:
s='#Wed1Fv 23Dfvgh C4RfcAcvg34Esx$^Fs2S'
def u_istitle(coll):
    if 'a'<=coll[0]<='z':
        return False
    i=0
    while i<len(coll):
        if not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            if 'a'<=coll[i+1]<='z':
                return False
        i+=1

    return True
u_istitle(s)

True

In [22]:
# 9 isupper
st="HELLO23454  ^"
st.isupper()

True

In [25]:
st="HELO23454  ^"
def u_isupper(coll):
    for i in coll:
        if 'a'<=i<='z':
            return False
    return True
u_isupper(st)

True

In [26]:
# 10 islower
st="hello world23"
st.islower()

True

In [29]:
st="hello world23"
def u_lower(coll):
    for i in coll:
        if 'A'<=i<='Z':
            return False
    return True
u_lower(st)

True

In [31]:
#11 isalpha
st="weRT"
st.isalpha()

True

In [34]:
st="weareJUST"
def u_isalpha(coll):
    for i in coll:
        if '0'<=i<'9' or not('a'<=i<='z' or 'A'<=i<='Z'):
            return False
    return True
u_isalpha(st)

True

In [39]:
# 12 isnumeric isdigit isdecimal   
st="123"               # only  positive integers
st.isnumeric()

True

In [41]:
st="123485"
def u_isdigit(coll):
    for i in coll:
        if not('0'<=i<='9'):
            return False
    return True
u_isdigit(st)

True

In [52]:
# 13 isidentifier
s="r2_"
s.isidentifier()

True

In [50]:
s="wer54432_"
def u_isidentifier(coll):
    if '0'<=coll[0]<='9':
        return False
    for i in coll:
        if not('a'<=i<='z' or 'A'<=i<='Z' or '0'<=i<='9' or i=='_'):
            return False
    return True
u_isidentifier(s)

True

In [53]:
# 14 isalnum
st="wertSDCV23"
st.isalnum()

True

In [54]:
st="ASD345werf"
def u_isalnum(coll):
    for i in coll:
        if not('a'<=i<='z' or 'A'<=i<='Z' or '0'<=i<='9'):
            return False
    return True
u_isalnum(st)

True

In [55]:
# 15 join accept only strings in the collection 
l=['ax','bdf','efgj','dcfvbnk']
"+".join(l)

'ax+bdf+efgj+dcfvbnk'

In [9]:
# join
l=['ax','bdf','efgj','dcfvbnk']
def u_join(coll,sep=""):
    for i in coll:
        if type(i)!=str:
            return False
    res=""
    for i in coll:
        res+=i+sep
    if sep=="":
        return res
    else:
        return res[:-len(sep)]
u_join(l,"-")

'ax-bdf-efgj-dcfvbnk'

In [13]:
# 16 isspace only accepts spaces not accept empty collection
st="    "
st.isspace()

False

In [24]:
st="           "
def u_isspace(coll):
    if len(coll)==0 :
        return False
    else:
        for i in coll:
            if i!=" ":
                return False
        return True
u_isspace(st)

True

In [25]:
st="           "
def u_isspace(coll):
    if coll!="":
        for i in coll:
            if i!=" ":
                return False
        return True
    return False
u_isspace(st)

True

In [10]:
# 17 count  is used to count the specific char
st="Hello world"
st.count('l',2,8)

2

In [ ]:
st="hello world"