In [1]:
# function without arguments and without return statement
def Upper():
    st="hello Haii 123 @#%"
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    print(res)
Upper()

HELLO HAII 123 @#%

In [3]:
# function with arg and without return statment
def Upper(st):
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    print(res)
Upper('Hello haii 123 $%#')
Upper('i love you')

HELLO HAII 123 $%#
I LOVE YOU

In [8]:
# function without argument with return statement
def Upper():
    st='i love india 34'
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
t=Upper()
t+=' hoo'
print(t)

I LOVE INDIA 34 hoo

In [10]:
# function with argument with return statement
x="hello world huYS"
def Upper(st):
    st='i love india 34'
    res=""
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
Upper(x)

'I LOVE INDIA 34'

In [26]:
#1. Capatilze
st="hello 1234"
st.capitalize()

'Hello 1234'

In [30]:
st="hello world 123%67"
def u_captial(coll):
    res=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
    else:
        res+=coll[0]
    for i in range(1,len(coll)):
        res+=coll[i]
    return res
u_captial(st)

'Hello world 123%67'

In [31]:
# 2. casefold: no upper case char in coll
st="Hello world 1"
st.casefold()

'hello world 1'

In [32]:
s='Hello world 1'
def cs(coll):
    res=""
    for i in coll:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
cs(s)

'hello world 1'

In [34]:
# 3 upper
st="hello world456@34"
st.upper()

'HELLO WORLD456@34'

In [35]:
st="hello world456@34"
def uppercase(coll):
    res=""
    for i in coll:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
uppercase(st)

'HELLO WORLD456@34'

In [36]:
# 4. lower
st="HELLO gu#$456"
st.lower()

'hello gu#$456'

In [37]:
st="HELLO gu#$456"
def lowercase(coll):
    res=""
    for i in coll:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
lowercase(st)

'hello gu#$456'

In [38]:
#5 swapcase
st="werfgWERTFG34^&8"
st.swapcase()

'WERFGwertfg34^&8'

In [39]:
st="werfgWERTFG34^&8"
def swap(coll):
    res=""
    for i in coll:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        elif 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
swap(st)

'WERFGwertfg34^&8'

In [5]:
#6 title
st="wedfv 23dfvgh c4rfcxcvg34fdsx$^f #l"
st.title()

'Wedfv 23Dfvgh C4Rfcxcvg34Fdsx$^F #L'

In [2]:
st="#wed1fv 23dfvgh c4rfcxcvg34fdsx$^fs2s $"
def titlecase(coll):
    i=0
    x=len(coll)
    res=""
    d=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        i=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        i=1
    #if ('a'<=coll[-2]<='z' or 'A'<=coll[-2]<='Z'):
    if not('a'<=coll[-1]<='z' or 'A'<=coll[-1]<='Z'):
        d+=coll[-1]
        x=len(coll)-1
    while i<x:
        if not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            res+=coll[i]
            if 'a'<=coll[i+1]<='z':
                res+=chr(ord(coll[i+1])-32)
            else:
                res+=coll[i+1]
            i+=1
        elif 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
        i+=1
    res+=d
    return res
titlecase(st)

'#Wed1Fv 23Dfvgh C4Rfcxcvg34fdsx$^fs2S $$'

In [4]:
st="#wed1fv 23dfvgh c4rfcxcvg34fdsx$^fs2s $j"
def titlecase(coll):
    i=0
    x=len(coll)
    res=""
    d=""
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        i=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        i=1
    
    while i <x:
        if (i==len(coll)-1 and not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z')):
            d+=coll[i]
        elif not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            res+=coll[i]
            if 'a'<=coll[i+1]<='z':
                res+=chr(ord(coll[i+1])-32)
            else:
                res+=coll[i+1]
            i+=1
        elif 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
        i+=1
    res+=d
    return res
titlecase(st)

'#Wed1Fv 23Dfvgh C4Rfcxcvg34fdsx$^fs2S $j'

In [51]:
#7 center
a="abd"
a.center(10,'-')

'---abd----'

In [10]:
a="hello"
def cp(coll,width,fillchar=" "):
    d=""
    if len(fillchar)>1:
        return -1
    res=width-len(coll)
    l=res//2
    r=res-l
    res=l*fillchar+coll+r*fillchar
    return res 
cp(a,20,'-')

'-------hello--------'

In [17]:
# 8 istitle
s='#Wed1Fv 23Dfvgh C4Rfcxcvg34Edsx$^Fs2S #1Es'
s.istitle()

True

In [26]:
s='#Wed1Fv 23Dfvgh C43Afccvg34Esx A^Fs2S #1Es'
def u_istitle(coll):
    if 'a'<=coll[0]<='z':
        return False
    i=0
    while i<len(coll):
        if not('a'<=coll[i]<='z' or 'A'<=coll[i]<='Z'):
            if 'a'<=coll[i+1]<='z':
                return False
        elif 'a'<=coll[i]<='z' and i!=len(coll)-1:
            if 'A'<=coll[i+1]<='Z':
                return False
        i+=1

    return True
u_istitle(s)

True

In [22]:
# 9 isupper
st="HELLO23454  ^"
st.isupper()

True

In [25]:
st="HELO23454  ^"
def u_isupper(coll):
    for i in coll:
        if 'a'<=i<='z':
            return False
    return True
u_isupper(st)

True

In [26]:
# 10 islower
st="hello world23"
st.islower()

True

In [29]:
st="hello world23"
def u_lower(coll):
    for i in coll:
        if 'A'<=i<='Z':
            return False
    return True
u_lower(st)

True

In [31]:
#11 isalpha
st="weRT"
st.isalpha()

True

In [34]:
st="weareJUST"
def u_isalpha(coll):
    for i in coll:
        if '0'<=i<'9' or not('a'<=i<='z' or 'A'<=i<='Z'):
            return False
    return True
u_isalpha(st)

True

In [39]:
# 12 isnumeric isdigit isdecimal   
st="123"               # only  positive integers
st.isnumeric()

True

In [41]:
st="123485"
def u_isdigit(coll):
    for i in coll:
        if not('0'<=i<='9'):
            return False
    return True
u_isdigit(st)

True

In [52]:
# 13 isidentifier
s="r2_"
s.isidentifier()

True

In [50]:
s="wer54432_"
def u_isidentifier(coll):
    if '0'<=coll[0]<='9':
        return False
    for i in coll:
        if not('a'<=i<='z' or 'A'<=i<='Z' or '0'<=i<='9' or i=='_'):
            return False
    return True
u_isidentifier(s)

True

In [53]:
# 14 isalnum
st="wertSDCV23"
st.isalnum()

True

In [39]:
st="ASD345werf"
def u_isalnum(coll):
    for i in coll:
        if not('a'<=i<='z' or 'A'<=i<='Z' or '0'<=i<='9'):
            return False
    return True
u_isalnum(st)

True

In [55]:
# 15 join accept only strings in the collection 
l=['ax','bdf','efgj','dcfvbnk']
"+".join(l)

'ax+bdf+efgj+dcfvbnk'

In [9]:
# join
l=['ax','bdf','efgj','dcfvbnk']
def u_join(coll,sep=""):
    for i in coll:
        if type(i)!=str:
            return False
    res=""
    for i in coll:
        res+=i+sep
    if sep=="":
        return res
    else:
        return res[:-len(sep)]
u_join(l,"-")

'ax-bdf-efgj-dcfvbnk'

In [3]:
# 16 isspace only accepts spaces not accept empty collection
st="   "
st.isspace()

True

In [24]:
st="           "
def u_isspace(coll):
    if len(coll)==0 :
        return False
    else:
        for i in coll:
            if i!=" ":
                return False
        return True
u_isspace(st)

True

In [25]:
st="           "
def u_isspace(coll):
    if coll!="":
        for i in coll:
            if i!=" ":
                return False
        return True
    return False
u_isspace(st)

True

In [54]:
# 17 count  is used to count the specific char
st="Hello world"
st.count('l',0,8)

2

In [15]:
# how many times occured
st="hello world"
def u_count(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    count=0
    for i in range(start,end):
        if coll[i]==ele:
            count+=1
    return count
u_count(st,'l',3,9)

1

In [27]:
# how many time repeated
st="hello world"
def u_count(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    count=0
    for i in range(start,end):
        if coll[i]==ele:
            count+=1
    return count-1
u_count(st,'l',0)

2

In [22]:
# 18 find() and index() both have same logic but element not present find return -1 ,index return value error and
# element present it return 1 occured index position
st="hello world"
print(st.find('l',0,7))
print(st.find('L'))
print(st.index('l',5))
print(st.index('L'))

2
-1
9

ValueError: substring not found

In [25]:
# first occurance specifc char
st="hello world"
def u_find(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    for i in range(start,end):
        if coll[i]==ele:
            return i
u_find(st,'o',3)

4

In [32]:
# nth occurance specific char
st="baribe world baribe land "
def u_index(coll,ele,n,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    count=0
    for i in range(start,end):
        if ele==coll[i]:
            count+=1
        if count==n:
            return i
    return -1
u_index(st,'b',2,6,18)

17

In [36]:
# last occurance specifi char
st="baribe world baribe land "
def u_find(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    l=[]
    while start<end:
        if coll[start]==ele:
            l+=[start]
        start+=1
    return l[-1]
u_find(st,'b')

17

In [47]:
# max first repeated char
st="baribe world baribe land "
def u_find(coll,start=0,end=None):
    if end==None:
        end=len(coll)
    d={}
    while start<end:
        if  coll[start] not in d:
            d[coll[start]]=1
        else:
            d[coll[start]]+=1
        start+=1
    print(d)
    l=list(d)
    i=0
    max=1
    ch=None
    while i<len(l):
        if max<d[l[i]]:
            max=d[l[i]]
            ch=l[i]
        i+=1
    return ch
u_find(st,3,24)

{'i': 2, 'b': 3, 'e': 2, ' ': 3, 'w': 1, 'o': 1, 'r': 2, 'l': 2, 'd': 2, 'a': 2, 'n': 1}

'b'

In [50]:
# min first repeated char
st="baribe world baribe land "
def u_find(coll,start=0,end=None):
    if end==None:
        end=len(coll)
    d={}
    while start<end:
        if  coll[start] not in d:
            d[coll[start]]=1
        else:
            d[coll[start]]+=1
        start+=1
    print(d)
    l=list(d)
    i=0
    min=1
    while i<len(l):
        if d[l[i]]==min:
            return l[i]
        i+=1
u_find(st,6,17)

{' ': 2, 'w': 1, 'o': 1, 'r': 2, 'l': 1, 'd': 1, 'b': 1, 'a': 1, 'i': 1}

'w'

In [55]:
# 19 rfind(),rindex()  fetch values from right to left and display the first occured index value
st="hello world"
st.rfind('l',1,9)

3

In [58]:
st="hello world welcome to python"
def u_rfind(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    for i in range(end,start,-1):
        if coll[i]==ele:
            return i
    return -1
u_rfind(st,'l',2,13)

9

In [27]:
# in while loop
st="hello world welcome to python"
def u_rindex(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:]:
        return False
    while end>=start:
        if ele==coll[end]:
            return end
        end-=1
    return -1
u_rindex(st,'o',5,14)

7

In [33]:
# 20 spilt() it split the collection into string based on the split element and strone in the list
st="baby dora monkey wer"
st.split('o',2)

['baby d', 'ra m', 'nkey wer']

In [43]:
st="baby dora monkey wer"
def u_split(coll,ele=" "):
    l=[]
    res=""
    for i in coll:
        if i!=ele:
            res+=i
        else:
            if len(res)!=0:
                l+=[res]
                res=""
    if len(res)!=0:
        l+=[res]
    return l
u_split(st,'e')

['baby dora monk', 'y w', 'r']

In [63]:
# 21 rsplit() it split the wotds from right to left based on spilt element
st="dora buji in kushi channel"
st.rsplit('u',maxsplit=1)

['dora buji in k', 'shi channel']

In [71]:
st="dora buji in kushi channel"
def u_rsplit(coll,ele=" ",maxsplit=None):
    l=[]
    res=""
    i=0
    end=len(coll)-1
    while end>=i:
        if coll[end]!=ele:
            res=coll[end]+res
        elif len(res)!=0:
            l=[res]+l
            res=""
            if len(l)==maxsplit:
                return [coll[:end]]+l
        end-=1
    if len(res)!=0:
        l=[res]+l
    return l
u_rsplit(st,'u',maxsplit=1)

['dora buji in k', 'shi channel']

In [75]:
# 22 startswith it check given string present in the starting of the collection or not
st="dora buji in kushi channel"
st.startswith('in',10)

True

In [80]:
st="dora buji in kushi channel"
def u_startswith(coll,sub,start=0,end=None):
    if end==None:
        end=start+len(sub)
    if sub not in coll[start:]:
        return False
    res=""
    while start<end:
        res+=coll[start]
        start+=1
    if res==sub:
        return True
u_startswith(st,'i in',8)

True

In [2]:
# 23 endswith() it will check the given string present at end of the collection are not
st="dora buji in kushi channel"
st.endswith('channel',9)

True

In [4]:
st="dora buji in kushi channel"
def u_endswith(coll,sub,start=0,end=None):
    if end==None:
        end=len(coll)
    res=""
    while start<end:
        res+=coll[start]
        start+=1
    print(res)
    i=len(res)-len(sub)
    s=""
    while i<len(res):
        s+=res[i]
        i+=1


    if s==sub:
        return True
u_endswith(st,'nnel',3)

a buji in kushi channel

True

In [4]:
# 24 replace
st="sunday is fun day"
print(st.replace('s','S'))
print(st.replace('s','S',1))
# for sequence of char
print(st.replace('day','night'))
print(st.replace('un','on',1))

Sunday iS fun day
Sunday is fun day
sunnight is fun night
sonday is fun day

In [6]:
# specific charc without count replacing
st="sunday is mass day"
def u_replace(coll,old,new):
    res=""
    for i in coll:
        if i==old:
            res+=new
        else:
            res+=i
    return res
u_replace(st,'s','S')

'Sunday iS maSS day'

In [10]:
# specific char with count replace
st="sunday is mass day"
def u_occur_replace(coll,old,new,count=None):
    if count==None:
        count=len(coll)
    res=""
    n=0
    for i in coll:
        if i==old and n<count:
            res+=new
            n+=1
        else:
            res+=i
    return res
u_occur_replace(st,'a','A',2)

'sundAy is mAss day'

In [11]:
# wap to replace the sequence of character without count
st="sunday is a mass day sunday is a holiday sun"
def u_seq_replace(coll,old,new):
    i=0
    while i<len(coll):
        if old[0]==coll[i]:
            if old==coll[i:i+len(old)]:
                coll=coll[0:i]+new+coll[i+len(old):]
        i+=1
    return coll
u_seq_replace(st,'sun','mon')

'monday is a mass day monday is a holiday mon'

In [11]:
# wap to replace the sequence of char with count
st="sunday is a mass day sunday is a holiday sun"
def u_seqoccur_replace(coll,old,new,count=None):
    if count==None:
        count=len(coll)
    i=0
    c=0
    while i<len(coll):
        if coll[i]==old[0]:
            if old==coll[i:i+len(old)] and c<count:
                coll=coll[0:i]+new+coll[i+len(old):]
                c+=1
        i+=1
    return coll
print(u_seqoccur_replace(st,'sun','mon',2))
print(st.replace("sun","mon",2))

monday is a mass day monday is a holiday sun
monday is a mass day monday is a holiday sun

In [4]:
# wap to repkace the substring in specific occurance
st="sunday is a mass day sunday is a holiday sun"
def u_replace(coll,old,new,occur):
    i=0
    count=0
    while i<len(coll):
        if old==coll[i:i+len(old)]:
            count+=1
            if count==occur:
                coll=coll[0:i]+new+coll[i+len(old):]
        i+=1
    return coll
u_replace(st,'sun','mon',2)

'sunday is a mass day monday is a holiday sun'

In [3]:
# 25 remove prefix
st="-hello-world--"
st.removeprefix('-')

'hello-world--'

In [5]:
st="-#hello world   "
def u_removepre(coll,ele):
    if ele  not in coll[0:len(ele)]:
        return coll
    return coll[len(ele):]
u_removepre(st,'#he')

'-#hello world   '

In [6]:
# using while loop
st="www.instagatam .com"
def u_removepre(coll,ele):
    if ele not in coll[0:len(ele)]:
        return coll
    res=""
    i=len(ele)
    while i<len(coll):
        res+=coll[i]
        i+=1
    return res
u_removepre(st,'www.')

'instagatam .com'

In [1]:
# 26 removesufix with slicing
st="www.fb.com"
def u_removesufix(coll,ele):
    if ele not in coll[len(coll)-len(ele):len(coll)]:
        return coll
    return coll[0:len(coll)-len(ele)]
u_removesufix(st,"com")

'www.fb.'

In [3]:
# without slicing
st="www.instagram.com"
def u_removesufix(coll,ele):
    if ele not in coll[len(coll)-len(ele):len(coll)]:
        return coll
    i=0
    end=len(coll)-len(ele)
    res=""
    while i<end:
        res+=coll[i]
        i+=1
    return res
u_removesufix(st,".com")

'www.instagram'

In [17]:
# 27 strip()    used to eliminate wide spaces at startind and ending of the collection
# widespaces are 1.spaces 2. tabspace(\t) 3. \n 4. \r,\f
st="    \t\nhello\f\rworld    "
#st.strip()
st.strip(" ")

'\t\nhello\x0c\rworld'

In [23]:
# 28 lstrip()           it eliminate only the left side widespaces
st="    \t\nhello\f\rworld    "
def u_lstrip(coll,ele=[" ",'\n','\f','\t','\r']):
    res=""
    i=0
    while i<len(coll):
        if coll[i] in ele:
            res+=""
        else:
            res+=coll[i:]
            break
        i+=1
    return res
#u_lstrip(st)
u_lstrip(st," ")

'\t\nhello\x0c\rworld    '

In [34]:
# 29 rstrip()            it eliminate only the right side widespaces
st="    \t\nhello\f\rworld\n\t    "
def u_rstrip(coll,ele=[' ','\n','\f','\r','\t']):
    res=""
    for i in range(len(coll)-1,-1,-1):
        if coll[i] in ele:
            res+=""
        else:
            res+=coll[0:i+1]
            break
    return res
#u_strip(st)
u_rstrip(st," ")

'    \t\nhello\x0c\rworld\n\t'

In [1]:
# strip
st="    \t\nhello\f\rworld    "
def u_lstrip(coll,ele=[" ",'\n','\f','\t','\r']):
    res=""
    i=0
    while i<len(coll):
        if coll[i] in ele:
            res+=""
        else:
            res+=coll[i:]
            break
        i+=1
    return res
u_lstrip(st," ")

def u_rstrip(coll,ele=[' ','\n','\f','\r','\t']):
    res=""
    for i in range(len(coll)-1,-1,-1):
        if coll[i] in ele:
            res+=""
        else:
            res+=coll[0:i+1]
            break
    return res
u_rstrip(st," ")

def u_strip(coll,ele=[' ','\n','\f','\r','\t']):
    temp=u_lstrip(coll,ele)
    res=u_rstrip(temp,ele)
    return res
u_strip(st," ")

'\t\nhello\x0c\rworld'

In [35]:
# 30 ljust() it keep the given input at the left side of the entire width remainng filled with filling char
st="hello"
st.ljust(20,"*")

'hello***************'

In [38]:
st="hello"
def u_ljust(coll,width,fillchar=" "):
    res=""
    res+=coll+fillchar*(width-len(coll))
    return res
#u_ljust(st,20)
u_ljust(st,20,"/")

'hello///////////////'

In [40]:
# 31 rjust() it keep the given input at the right side of the entire width remainng filled with filling char
st="hello"
st.rjust(10)

'     hello'

In [41]:
st="hello"
def u_rjust(coll,width,fillchar=" "):
    res=""
    res+=fillchar*(width-len(coll))+coll
    return res
u_rjust(st,10,'*')

'*****hello'

In [2]:
# 1 wap to print series of factorial numbers given range using nested functions
def factorial(n,m):
    while n<=m:
        i=1
        prod=1
        while i<=n:
            prod*=i
            i+=1
        print(prod)
        n+=1    
factorial(1,10)

1
2
6
24
120
720
5040
40320
362880
3628800

In [5]:
# 2 wap to print 19 tables with the range using functions
def u_table(n,m,table):
    while n<=m:
        r=table*n
        print(r)
        n+=1   
u_table(1,10,19)

19
38
57
76
95
114
133
152
171
190

In [12]:
# 3 ip='PYSPIDERS'                 OP='SrEdIpSyP' uisng functions
st="PYSPIDERS"
def u_flip(coll):
    res=""
    i=0
    while i<len(coll):
        res+=coll[i]
        if i+1<len(coll)-1 and 'A'<=coll[i+1]<='Z':
            res+=chr(ord(coll[i+1])+32)
            i+=1
        i+=1
    print(res[::-1])
u_flip(st)

SrEdIpSyP

In [13]:
# 4 using functions  op={'i':2,'love':2,'india':1,'my':1,'country':1}
st="i love india i love my country"
def occu(coll):
    l=[]
    res=""
    i=0
    while i<len(coll):
        if coll[i]!=" ":
            res+=coll[i]
        else:
            if len(res)!=0:
                l+=[res]
                res=""
        i+=1
    if len(res)!=0:
        l+=[res]
    print(l)
    uni={}
    x=0
    while x<len(l):
        if x not in uni:
            uni[l[x]]=1
        else:
            uni[l[x]]+=1
        x+=1
    print(uni)
occu(st)

['i', 'love', 'india', 'i', 'love', 'my', 'country']
{'i': 1, 'love': 1, 'india': 1, 'my': 1, 'country': 1}

In [16]:
#5 wap to store the series of cube number in a dict given in the range function
def cube(m,n):
    d={}
    for i in range(m,n):
        d[i]=i**3
    print(d)
cube(1,6)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [20]:
# 6 wap to nth fibonacci series
a=0
b=1
print(a)
print(b)
num=5
while num:
    c=a+b
    print(c)
    a,b=b,c
    num-=1

0
1
1
2
3
5
8

In [22]:
# 7 wap to print the series of prefect numbers from 1 to 1800
n=1
m=1800
while n<=m:
    i=1
    prod=0
    while i<n:
        if n%i==0:
            prod+=i
        i+=1
    if prod==n:
        print(n)
    n+=1

6
28
496

In [5]:
t=['a','b','c']
print(id(t),t)
def u_insert(coll,index,ele):
    a=coll
    i=0
    while i<len(a):
        if i==index:
            a[i]=[ele]
        i+=1
u_insert(t,2,'hii')
print(id(a),a)

2037833431040 ['a', 'b', 'c']

NameError: name 'a' is not defined

In [5]:
#            LIST BULIT IN FUNCTIONS
#1.append() adding new values without changing the adress and no return value
l=[10,20,30]
print(l,id(l))
l.append({'a':10})
print(l,id(l))

[10, 20, 30] 2208318829056
[10, 20, 30, {'a': 10}] 2208318829056

In [4]:
l=[10,20,30]
print(id(l),l)
def u_append(coll,ele):
    if type(coll)!=list:
        return -1
    coll+=[ele]
u_append(l,{'a':10,'b':20})
print(id(l),l)

2208318817792 [10, 20, 30]
2208318817792 [10, 20, 30, {'a': 10, 'b': 20}]

In [9]:
# 2 extend()         it append only one value that value should be collection
l=[10,20,50,'hello']
print(l,id(l))
l.extend({10:'a'})
print(id(l),l)

[10, 20, 50, 'hello'] 2208324398464
2208324398464 [10, 20, 50, 'hello', 10]

In [14]:
l=[10,20,50,'hello']
print(l,id(l))
def u_extend(coll,ele):
    if type(coll)!=list:
        return -1
    if ele not in[str,list,tuple,set,dict]:
        return "ele should be collection object"
    for i in ele:
        coll+=[i]
print(u_extend(l,18))
print(id(l),l)

[10, 20, 50, 'hello'] 2208324395136
ele should be collection object
2208324395136 [10, 20, 50, 'hello']

In [19]:
# 3 insert() insert the value at specific position
l=[10,20,50,'hello']
print(id(l),l)
l.insert(1,30)
print(id(l),l)

2208324809280 [10, 20, 50, 'hello']
2208324809280 [10, 30, 20, 50, 'hello']

In [22]:
l=['hello',10.89,True,100,40]
print(id(l),l)
def u_insert(coll,index,ele):
    if type(coll)!=list and type(index)!=int:
        return -1
    coll[index:index]=[ele]
u_insert(l,4,200)
print(l,id(l))

2208324778496 ['hello', 10.89, True, 100, 40]
['hello', 10.89, True, 100, 200, 40] 2208324778496

In [26]:
# 4 count() only one argument that is specfic char to count and it return the value
x=["a",'a','hii','hello',100,10,10,30,40]
x.count('a')

2

In [31]:
x=["a",'a','hii','hello',100,10,10,30,40]
def u_count(coll,ele):
    if type(coll)!=list:
        return -1
    if ele not in coll:
        return -1
    count=0
    for i in coll:
        if i==ele:
            count+=1
    return count
u_count(x,10)

2

In [39]:
# 5 index() it return 1t occurance index postion  even -ve index als given it convert it into postive index from the it check ele at position occur
d=["a",'a','hii','hello',100,10,10,30,40]
d.index(10)

5

In [46]:
d=["a",'a','hii','hello',100,10,10,30,40]
def u_index(coll,ele,start=0,end=None):
    if type(coll)!=list:
        return -1
    if start<0:
        start=start+len(coll)
    if end==None:
        end=len(coll)
    if end<0:
        end=end+len(coll)
    for i in range(start,end):
        if ele==coll[start]:
            return start
    return -1
u_index(d,'a',-8)

1

In [48]:
# 6 reverse() reverse the values with out changing the adress
d=["a",'a','hii','hello',100,10,10,30,40]
print(id(d),d)
d.reverse()
print(id(d),d)

2208318684416 ['a', 'a', 'hii', 'hello', 100, 10, 10, 30, 40]
2208318684416 [40, 30, 10, 10, 100, 'hello', 'hii', 'a', 'a']

In [54]:
d=["a",'a','hii','hello',100,10,10,30,40]
print(id(d),d)
def u_reverse(coll):
    j=len(coll)-1
    for i in range(0,len(coll)):
        coll[i],coll[j]=coll[j],coll[i]
        j-=1
u_reverse(d)
print(id(d),d)

2208325033344 ['a', 'a', 'hii', 'hello', 100, 10, 10, 30, 40]
2208325033344 ['a', 'a', 'hii', 'hello', 100, 10, 10, 30, 40]

In [57]:
#7 copy() here we are doing shallow copy
d=["a",'a','hii','hello',100,10,10,30,40]
print(id(d),d)
x=d.copy()
print(id(x),x)

2208325464576 ['a', 'a', 'hii', 'hello', 100, 10, 10, 30, 40]
2208325299648 ['a', 'a', 'hii', 'hello', 100, 10, 10, 30, 40]

In [67]:
d=["a",'a',[2,3],'hii','hello',100,10,10,30,40]
print(id(d),d)
def u_copy(coll):
    if type(coll)!=list:
        return -1
    res=[]
    for i in coll:
        res+=[i]
    return res
temp=u_copy(d)
print(id(temp),temp)

d+=[10,30.00]
print(d)
print(temp)
temp[2]+=[4]
print(temp)
print(d)

2208325190720 ['a', 'a', [2, 3], 'hii', 'hello', 100, 10, 10, 30, 40]
2208325294464 ['a', 'a', [2, 3], 'hii', 'hello', 100, 10, 10, 30, 40]
['a', 'a', [2, 3], 'hii', 'hello', 100, 10, 10, 30, 40, 10, 30.0]
['a', 'a', [2, 3], 'hii', 'hello', 100, 10, 10, 30, 40]
['a', 'a', [2, 3, 4], 'hii', 'hello', 100, 10, 10, 30, 40]
['a', 'a', [2, 3, 4], 'hii', 'hello', 100, 10, 10, 30, 40, 10, 30.0]

In [72]:
# 8 pop() default it elinimate last value in the list  ,pop accept one argument that is index position based on that it delete the value
x=[0.00,10,20,40,[100,200]]
print(x)
#x.pop()
#print(x)
x.pop(-2)
print(x)

[0.0, 10, 20, 40, [100, 200]]
[0.0, 10, 20, [100, 200]]

In [74]:
x=[0.00,10,20,40,[100,200]]
print(x,id(x))
def u_pop(coll,index=-1):
    if type(coll)!=list:
        return -1
    del coll[index]
#u_pop(x)
u_pop(x,2)
print(x,id(x))

[0.0, 10, 20, 40, [100, 200]] 2208325040768
[0.0, 10, 40, [100, 200]] 2208325040768

In [77]:
# remove() it delete first occurance of given  values in the list .adress should be same
x=[0.00,10,20,40,[100,200]]
print(x,id(x))
x.remove(0.00)
print(x,id(x))

[0.0, 10, 20, 40, [100, 200]] 2208325469888
[10, 20, 40, [100, 200]] 2208325469888

In [78]:
x=[0.00,10,20,40,[100,200]]
print(id(x),x)
def u_remove(coll,ele):
    if type(coll)!=list:
        return -1
    for i in range(0,len(coll)):
        if coll[i]==ele:
            del coll[i]
            break
u_remove(x,10)
print(id(x),x)

2208324871424 [0.0, 10, 20, 40, [100, 200]]
2208324871424 [0.0, 20, 40, [100, 200]]

In [79]:
#10 clear() remove all the values in the list adress is same
x=[10,'raja','king',20,40]
print(x,id(x))
x.clear()
print(x,id(x))

[10, 'raja', 'king', 20, 40] 2208325495232
[] 2208325495232

In [81]:
# with slicing
x=[10,'raja','king',20,40]
print(x,id(x))
def u_clear(coll):
    if type(coll)!=list:
        return -1
    coll[::]=[]
u_clear(x)
print(x,id(x))

[10, 'raja', 'king', 20, 40] 2208325025856
[] 2208325025856

In [83]:
# without slicing
x=[10,'raja','king',20,40]
print(x,id(x))
def u_clear(coll):
    if type(coll)!=list:
        return -1
    for i in range(0,len(coll)):
        del coll[-1]
u_clear(x)
print(x,id(x))

[10, 'raja', 'king', 20, 40] 2208325025472
[] 2208325025472

In [85]:
# 11 sort() bubble sorting arranged in the order 
x=[30,40,10,90,50,70]
print(x,id(x))
x.sort()
print(x,id(x))

[30, 40, 10, 90, 50, 70] 2208325022080
[10, 30, 40, 50, 70, 90] 2208325022080

In [87]:
# ascending order
x=[30,40,10,90,50,70]
print(x,id(x))
def u_sort(coll):
    if type(coll)!=list:
        return -1
    for j in range(0,len(coll)):
        for i in range(0,len(coll)-1):
            if coll[i]>coll[i+1]:
                coll[i],coll[i+1]=coll[i+1],coll[i]
u_sort(x)
print(x,id(x))

[30, 40, 10, 90, 50, 70] 2208325198400
[10, 30, 40, 50, 70, 90] 2208325198400

In [90]:
# desecnding order
x=[30,40,10,90,50,70]
print(x,id(x))
def u_sort(coll):
    if type(coll)!=list:
        return -1
    for i in range(0,len(coll)):
        for j in range(0,len(coll)-1):
            if coll[j]<coll[j+1]:
                coll[j],coll[j+1]=coll[j+1],coll[j]
u_sort(x)
print(x,id(x))

[30, 40, 10, 90, 50, 70] 2208325192512
[90, 70, 50, 40, 30, 10] 2208325192512

In [11]:
#            TUPLE BULIT IN FUNCTION
# 1.count()
t=(1,2,2,3,3,5,10+3j,'hello','hello')
#t.count(3)
t.index(2,-9)

1

In [4]:
t=(1,2,2,3,3,5,10+3j,'hello','hello')
def u_count(coll,ele):
    if type(coll)!=tuple:
        return -1
    count=0
    for i in t:
        if i==ele:
            count+=1
    return count
u_count(t,'hello')

2

In [6]:
# 2 index()
t=(1,2,2,3,3,5,10+3j,'hello','hello')
def d_index(coll,ele):
    if type(coll)!=tuple:
        return -1
    for i in range(0,len(coll)):
        if coll[i]==ele:
            return i
d_index(t,2)

1

In [12]:
t=(1,2,2,3,3,5,10+3j,'hello','hello')
def d_index(coll,ele,start=0,end=None):
    if type(coll)!=tuple:
        return -1
    if start<0:
        start=start+len(coll)
    if end==None:
        end=len(coll)
    if end<0:
        end=end+len(coll)
    for i in range(0,len(coll)):
        if coll[i]==ele:
            return i
d_index(t,2,-9,-2)

1

In [13]:
#         SET BULIT IN FUNCTIONS
# 1. add() adding new values to the collection without changing the adress
s={1,3,'a','4',100}
print(id(s),s)
s.add('hello')
print(id(s),s)

2147372258176 {1, '4', 3, 100, 'a'}
2147372258176 {1, '4', 3, 100, 'a', 'hello'}

In [16]:
s={1,3,'a','4',100}
print(id(s),s)
def u_add(coll,ele):
    if type(coll)!=set:
        return -1
    if type(ele) in [list,set,dict]:
        return -1
    coll|={ele}
u_add(s,'hello')
print(id(s),s)

2147372259968 {1, '4', 3, 100, 'a'}
2147372259968 {1, '4', 3, 100, 'a', 'hello'}

In [17]:
#2. clear() delete all the valuse in set but adress wo'nt change
s={1,3,'a','4',100}
print(id(s),s)
def u_clear(coll):
    if type(coll)!=set:
        return -1
    coll-=coll
u_clear(s)
print(s,id(s))

2147372260864 {1, '4', 3, 100, 'a'}
set() 2147372260864

In [18]:
#3 pop() randomly delete one value inside the set
s={1,3,'a','4',100}
s.pop()
print(s)

{'4', 3, 100, 'a'}

In [19]:
s={1,3,'a','4',100}
print(id(s),s)
def u_pop(coll):
    if  type(coll)!=set:
        return -1
    res=list(coll)[0]
    coll-={res}
u_pop(s)
print(s,id(s))

2147372261536 {1, '4', 3, 100, 'a'}
{'4', 3, 100, 'a'} 2147372261536

In [20]:
# 4.remove() it delete specific value in the set value not present raise the error
s={1,3,'a','4',100}
print(id(s),s)
s.remove(100)
print(id(s),s)

2147372261088 {1, '4', 3, 100, 'a'}
2147372261088 {1, '4', 3, 'a'}

In [21]:
s={1,3,'a','4',100}
print(id(s),s)
def u_remove(coll,ele):
    if type(coll)!=set or ele not in coll:
        return -1
    coll-={ele}
u_remove(s,100)
print(id(s),s)

2147372261984 {1, '4', 3, 100, 'a'}
2147372261984 {1, '4', 3, 'a'}

In [23]:
# 5. discard()             if value not present it does not raise any error
s={1,3,'a','4',100}
print(id(s),s)
def u_remove(coll,ele):
    if type(coll)!=set or ele not in coll:
        return -1
    coll-={ele}
u_remove(s,5)
print(id(s),s)

2147366878816 {1, '4', 3, 100, 'a'}
2147366878816 {1, '4', 3, 100, 'a'}

In [26]:
# 6.issuperset()              set2 all elements prsent in set1
s={'a',3,4,5,100}
t={3,5,100}
s.issuperset(t)

True

In [27]:
s={'a',3,4,5,100}
t={3,5,100}
def u_superset(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    for i in coll2:
        if i not in coll1:
            return False
    return True
u_superset(s,t)

True

In [32]:
# 7.issubset()           
s={'a',3,4,5,100,6}
t={3,5,100,6}
t.issubset(s)

True

In [1]:
s={'a',3,4,5,100,6}
t={3,5,100,6,9.10,20}
def u_subset(coll1,coll2):
    if len(coll2)>len(coll1):
        return "length of subset is lessthan or equal to superset"
    for i in coll2:
        if i in coll1:
            return True
    return True
u_subset(s,t)

True

In [34]:
# 8 isdisjoint()   set2 values should not present in set1 it is opposite to issuperset
s={'a',3,4,5,100}
t={10,40}
s.isdisjoint(t)

True

In [35]:
s={'a',3,4,5,100}
t={10,40}
def u_disjoint(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    for i in coll2:
        if i in coll1:
            return False
    return True
u_disjoint(s,t)

True

In [8]:
# 9 union() set1 and set2uncommn elements added to set1
s={2,'a',10}
print(id(s),s)
t={4,2,22}
res=s.union(t)
print(id(res),res)
#s.update(t)
#print(s,id(s))
v=s|t
print(v)

1703911669120 {10, 2, 'a'}
1703911668000 {2, 'a', 4, 22, 10}
{2, 'a', 4, 22, 10}

In [18]:
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_union(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    res=coll1|coll2
    print(res)
u_union(s,t)
#print(temp,id(temp))

1703917800576 {10, 2, 'a'}
{2, 'a', 4, 22, 10}

In [20]:
# 10  update
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_update(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    coll1|=coll2
    print(coll1,id(coll1))
u_update(s,t)

1703911668000 {10, 2, 'a'}
{2, 'a', 4, 22, 10} 1703911668000

In [22]:
#11 difference
s={2,'a',10}
print(id(s),s)
t={4,2,22}
res=s.difference(t)
print(res,id(res))

1703917800576 {10, 2, 'a'}
{10, 'a'} 1703911668000

In [23]:
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_difference(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    coll1=coll1-coll2
    print(coll1,id(coll1))
u_difference(s,t)

1703917802816 {10, 2, 'a'}
{10, 'a'} 1703917799904

In [46]:
# 12 difference-update
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_difference_update(coll1,coll2):
    if type(coll1)!=set and type(coll2)!=set:
        return -1
    coll1-=coll2
    print(coll1,id(coll1))
u_difference_update(s,t)

1703917800352 {10, 2, 'a'}
{10, 'a'} 1703917800352

In [26]:
# 13 intersection
s={2,'a',10}
print(id(s),s)
t={4,2,22}
res=(s.intersection(t))
print(res,id(res))

1703917799680 {10, 2, 'a'}
{2} 1703917800352

In [30]:
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_intersection(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    coll1=coll1&coll2
    print(coll1,id(coll1))
u_intersection(s,t)

1703917804384 {10, 2, 'a'}
{2} 1703917803040

In [36]:
# 14 intersection_update
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_intersection_update(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    coll1&=coll2
    print(coll1,id(coll1))
u_intersection_update(s,t)

1703917804608 {10, 2, 'a'}
{2} 1703917804608

In [32]:
# 15 symatric difference 
s={2,'a',10}
print(id(s),s)
t={4,2,22}
s.symmetric_difference(t)

1703917803040 {10, 2, 'a'}

{10, 22, 4, 'a'}

In [35]:
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_symatric_difference(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    coll1=coll1^coll2
    print(coll1,id(coll1))
u_symatric_difference(s,t)

1703917801472 {10, 2, 'a'}
{'a', 10, 4, 22} 1703917801696

In [45]:
s={2,'a',10}
print(id(s),s)
t={4,2,22}
s.symmetric_difference_update(t)

1703917803264 {10, 2, 'a'}
None

In [38]:
# 16 symmatric_difference_update()
s={2,'a',10}
print(id(s),s)
t={4,2,22}
def u_symatric_difference_update(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    coll1^=coll2
    print(coll1,id(coll1))
u_symatric_difference_update(s,t)

1703917801696 {10, 2, 'a'}
{4, 10, 'a', 22} 1703917801696

In [15]:
# wtite a prorgam to convetr binary value decimal value
s=1001111001
def decimal(num):
    power=0
    sum=0
    while num:
        l=num%10
        sum+=l*(2**power)
        power+=1
        num=num//10
    return sum

decimal(s)

633

In [14]:
n=1010
power=0
sum=0
while n:
    l=n%10
    sum+=(l*(2**power))
    power+=1
    n=n//10
    
print(sum)

10

In [10]:
st='12/16.16/87/19/26.46/35/14/19/244'
var=lambda :[int(i)*2 if  eval(i)%2==0 else i for i in st.split('/')]
print(var())

def find(coll):
    l=[]
    for i in st.split("/"):
        if eval(i)%2==0:
            l+=[int(i)*2]
        else:
            l+=[i]
    return l
print(find(st))

[24, '16.16', '87', '19', '26.46', '35', 28, '19', 488]
[24, '16.16', '87', '19', '26.46', '35', 28, '19', 488]

In [1]:
# test 
# 1 wap program to convert 12 to binary number
def binary(a=12):
    st=""
    while a:
        l=a%2
        st+=str(l)
        a=a//2
    return (int(st[::-1]))
binary()

1100

In [2]:
#2    wap to check given number is spy no or not .if spy no print fibinnoci series upto given number 
#else check given no prime or not if prime print 1 to given no prime numbers.
def spy(num):
    a=num
    b=num
    sum=0
    prd=1
    while a:
        l=a%10
        sum+=l
        prd*=l
        a=a//10
    if sum==prd:
        x=0
        y=1
        for m in range(0,num+1):
            c=x+y
            print(c,end=" ")
            x,y=y,c
    else:
        i=1
        count=0
        while i<=b:
            if b%i==0:
                 count+=1
            i+=1
        if count==2:
            start=1
            end=num
            while start<=num:
                f=1
                c=0
                while f<=start:
                    if start%f==0:
                        c+=1
                    f+=1
                if c==2:
                    print(start)
                start+=1



spy(132)

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101 927372692193078999176 1500520536206896083277 2427893228399975082453 3928413764606871165730 6356306993006846248183 10284720757613717413913 16641027750620563662096 26925748508234281076009 43566776258854844738105 70492524767089125814114 114059301025943970552219 184551825793033096366333 298611126818977066918552 483162952612010163284885 781774079430987230203437 1264937032042997393488322 2046711111473984623691759 3311648143516982017180081 5358359254990966640871840 8670007398507948658051921 14028366653498915298923761 22698374052006863956975682 36726740705505779255899443 59425114757512643212875125 96151855463018422468774568 155576970220531065681649693 251728825683549488150424261 407305795904080553832073954 659034621587630041982498215 1066340417491710595814572169 1725375039079340637797070384 2791715456571051233611642553 4517090495650391871408712937

In [18]:
# 3 st='hii how are you'               output='you are how hii'
st='hii how are you'
def u_reverse(coll):
    res=""
    l=[]
    i=0
    while i<len(coll):
        if coll[i]!=" ":
            res+=coll[i]
        else:
            if len(res)!=0:
                l+=[res+" "]
                res=""
        i+=1
    if len(res)!=0:
        l+=[res+" "]
    s=""
    f=-1
    while f>=(-len(l)):
        s+=l[f]
        f-=1
    return s[0:len(s)-1]
u_reverse(st)

'you are how hii'

In [25]:
# 4 wap to print  factorial for given number using recurssion
def fact(s=1,e=10):
    while s<=e:
        prd=1
        f=1
        while f<=s:
            prd*=f
            f+=1
        print(prd)
        return fact(s+1,e)
fact()

1
2
6
24
120
720
5040
40320
362880
3628800

In [26]:
# 5 wap to sum the even numbers in given no
n=789345621
def even_sum(num):
    sum=0
    while num:
        l=num%10
        if l%2==0:
            sum+=l
        num=num//10
    return sum
even_sum(n)

20

In [33]:
# 6 wap  op[(com,in,edu,nic.in),{'com':1,'in':1,'edu':1,'nic.in':1}]
st=['www.google.com','www.python.in','www.yohoo.edu','www.kar.nic.in']
def done(coll,count):
    l=[]
    i=0
    while i<len(coll):
        s=coll[i]
        x=0
        co=0
        while x<len(s):
            if s[x]==".":
                co+=1
                if co==count:
                    l+=[s[x+1:]]
            x+=1
        i+=1
    t=tuple(l)
    print(t)
    start=0
    d={}
    ll=[]
    while start<len(t):
        s1=0
        while s1<len(coll):
            if t[start] in coll[s1]:
                d[t[start]]=1
            s1+=1
        start+=1
    print(d)
    ll+=[t,d]
    print(ll)
    

    
done(st,2)

('com', 'in', 'edu', 'nic.in')
{'com': 1, 'in': 1, 'edu': 1, 'nic.in': 1}
[('com', 'in', 'edu', 'nic.in'), {'com': 1, 'in': 1, 'edu': 1, 'nic.in': 1}]

In [20]:
# 7 wap to find out largest even integer and odd integer no
a=[1,2,3,4,5,6,27,89,88,124]
def largest(coll,s,n):
    i=0
    while i<len(coll):
        if coll[i]%2==0:
            if s<coll[i]:
                s=coll[i]
        else:
            if n<coll[i]:
                n=coll[i]
        i+=1
    print(s,n)
largest(a,1,1)

124 89

In [1]:
n = 1
while True:
      if n % 3 == 0:
          break
      print(n)

      n + = 1

SyntaxError: invalid syntax (846542146.py, line 7)

In [2]:
def add(*args):
       print(args)
       print(*args)
add("10", "20")

('10', '20')
10 20

In [3]:
a = "helloo"
b = "smile please"
print(a, b)

helloo smile please

In [4]:
for i in range(0):
    print(i)

In [5]:


i = 5
while True:
    if i%0O9 == 0:
        break
    print(i)
    i += 1

SyntaxError: invalid digit '9' in octal literal (345307964.py, line 3)

In [6]:
dict_={}
dict_[(1, 2, 4)] = 5
dict_[(4, 2, 1)] = 7
dict_[(1, 2)] = 6
dict_[(4, 2, 1)] = 2

total_ = 0
for i in dict_:
           total_= total_ + dict_[i]
print(len(dict_) + total_)

16

In [7]:
G = 55
G1 = 94

print((G + G1) / 3 * 3)

149.0

In [8]:
m = ['Zb', 'cY']
for i in m:
      i.upper()
print(m)

['Zb', 'cY']

In [1]:
print(0b1100>>2)

3

In [1]:
a=0
b=1
def fau(a,b,n,m):
    if n==m:
        return 
    c=a+b
    print(c)
    a,b=b,c
    fau(a,b,n+1,m)
fau(a,b,0,4)

1
2
3
5

In [11]:
st="erghjkuythgfvc"
def u_upper(coll,s=0,res=""):
    if s==len(coll):
        print(res)
        return 
    if 'a'<=coll[s]<='z':
        res+=chr(ord(coll[s])-32)
    else:
        res+=coll[s]
    u_upper(coll,s+1,res)
u_upper(st)

ERGHJKUYTHGFVC

In [7]:
f=[1,100,2,4]
def centered_average(nums):
  #l=nums
  i=0
  big=0
  ch=None
  while i<len(nums):
    if big<nums[i]:
      big=nums[i]
      ch=i
    i+=1
  del nums[ch]
  print(nums)
  small=big
  x=0
  d=None
  while x<len(nums):
    if small>nums[x]:
        small=nums[x]
        d=x
    x+=1
    del nums[x]
    print(nums)
    sum=0
  if len(nums)%2==0:
    sum+=nums[len(nums)//2]+nums[len(nums)//2+1]
    avg=sum/2
    return avg
  else:
   return nums[len(nums)//2]
centered_average(f)
  
    
  
 # sum=0
  #if len(nums)%2==0:
    #sum+=nums[len(nums)//2]+nums[len(nums)//2+1]
    #avg=sum/2
    #return avg
  #else:
   # return nums[len(nums)//2]

[1, 2, 4]
[1, 4]

IndexError: list assignment index out of range

In [1]:
def watch(time,secondsforeveryfiveminutes,minutes):
    st=""
    if len(time)==4:
        ss=secondsforeveryfiveminutes*12
        min=minutes*ss
        hour=min//60
        res=time[0:2]
        t=int(res)+hour
        st+=str(t)+"00"

        print(st)
    else:
        print("invalid input")
watch("0600",5,10)

1600

In [2]:
f=[3,6,2,3,5]
def getscore(numseq):
    fs=0
    ss=0
    for i in range(0,len(numseq)):
        if i%2!=0:
            fs+=numseq[i]
        else:
            if numseq[i]%2==0:
                numseq=numseq[::-1]
                for x in range(0,len(numseq)):
                    if x%2!=0:
                        ss+=numseq[x]
                    else:
                        fs+=numseq[x]
    print(fs)
    print(ss)
getscore(f)

22
9

In [4]:
f=[3,6,2,3,5]
def getscore(numseq):
   
    fs=0
    ss=0
    for i in range(0,len(numseq)):
            fs+=numseq[i]
            numseq.pop(0)
            if numseq[i]%2==0:
                numseq=numseq[::-1]
                




        
            
    print(d)
    print(fs)
getscore(f)

[6, 2, 3, 5]
3